src/main/resources/xsdschemas/City.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:import namespace="" schemaLocation="Country.xsd"/>
    <xs:include schemaLocation="Country.xsd" />

    <xs:element name="city" type="City"/>

    <xs:complexType name="City">
        <xs:sequence>
            <xs:element name="id" type="xs:int"/>
            <xs:element name="country" type="Country"/>
            <xs:element name="name" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
