src/main/resources/xsdschemas/Location.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:import namespace="" schemaLocation="City.xsd"/>
    <xs:include schemaLocation="City.xsd"/>

    <xs:element name="location" type="Location"/>


    <xs:complexType name="Location">
        <xs:sequence>
            <xs:element name="id" type="xs:int"/>
            <xs:element name="city" type="City"/>
            <xs:element name="zipCode" type="xs:string"/>
            <xs:element name="address" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>