src/main/resources/xsdschemas/Position.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="position" type="Position"/>

    <xs:complexType name="Position">
        <xs:sequence>
            <xs:element name="id" type="xs:int"/>
            <xs:element name="position" type="xs:string"/>
            <xs:element name="salary" type="xs:double"/>
            <xs:element name="hourlyWage" type="xs:double"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
